.header
{
    width: 100%;  
    padding: 20px 5%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
}
input{
    width: 20%;
    padding: 10px;
    font-size: 17px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
}
.news-articles
{
    width: 100%;
    padding: 30px;
    background-color:#f2f2f2;
    display: flex;
    column-gap: 4%;
    flex-wrap: wrap;
    row-gap: 20px;
}
.news-article
{
    background-color: white;
    width: 22%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    border-radius: 5px;
}
.Img
{
    width: 100%;
    height: 200px;
    /* background-color: aquamarine; */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Img img
{
    max-width: 100%;
}
.Source
{
    display: flex;
    justify-content: space-between;
    color: grey;
}